.header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 35px;
  }
  
  .header__logo {
    width: 250px;
    height: 65px;
    cursor: pointer;
  }
  
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .header__item {
    margin-right: 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #030A1B;
    opacity: 0.7;
    cursor: pointer;
  }
  
  .header__item:hover {
    color: #FE753F;
  }
  
  .header__btn {
    width: 149px;
    height: 54px;
    background: #2E6EFF;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
  }